
.about-description, 
.about-image {
  height: 500px;
}

.about-description {

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--brown);

  padding: 20px;
}

.about-name,
.about-text {
  color: var(--white);
  z-index: 2;
}

.about-name {
  font-size: 2em;
  font-weight: 600;
  margin: .5em 0;
}

.about-text {
  font-size: 1.2em;
  font-weight: 400;
  text-align: justify;
}

.about-image img {
  object-position: 20% 30%;
}


@media only screen and (max-width: 1200px) {
  .about-image {
    order: 1;
  }
  .about-description {
    order: 2;
  }
}

@media screen and (max-width: 768px) {
  .about-image {
    order: 1;
  }
  .about-description {
   height: auto;
  }
}