.work-description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}
.work-images,
.work-quote {
  height: 310px;
  width: calc(50% - 10px);
  margin: 5px;
}
.work-images {
  display: flex;
  justify-content: center;
}

.work-quote {
  padding: 5px;
}

.work-quote p {
  font-size: 18px;
  color: var(--white);
  padding: 25px;
  background-color: var(--brown);
  height: 100%;
}

.work-image {
  height: 310px;
  width: 50%;
  padding: 5px 5px;
}

.work-image img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

@media (max-width: 1200px) {
  
  .work-images {
    order: 0;
    width: 100%;
  }
  .work-quote {
    order: 1;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 992px) {
  .work-quote {
    width: calc(100% - 5px);
    margin: 5px;
    height: auto;
  }
}

@media (max-width: 720px) {
  .work-images, 
  .work-description{
    height: auto;
  }
  .work-images {
    flex-wrap: wrap;
  }
  .work-image {
    width: 100%;
  }
}
