.background-brown {
  background-color: var(--brown);
}
.section-size {
  min-height: 600px;
}

.deposition-limit-max {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.btn-carousel {
  width: 50px;
  height: 50px;
  background-color: var(--white);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  font-weight: 400;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.deposition-limit-max .btn-carousel:first-child {
  left: -22px;
}
.deposition-limit-max .btn-carousel:last-child {
  right: -22px;
}

.deposition-limit-max .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .deposition {
  cursor: grab;
  user-select: none;
}

.carousel .deposition {
  scroll-snap-align: start;
  height: 342px;
  background-color: var(--white);
  border-radius: 8px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  padding: 20px;
}

.deposition .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.quote-author {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.quote {
  font-size: 15px;
  margin-bottom: 1em;
  text-align: justify;
}

@media screen and (max-width: 992px) {
  .deposition-limit-max .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 768px) {
  .deposition-limit-max .carousel {
    grid-auto-columns: 100%;
  }
  .deposition-limit-max .btn-carousel:first-child {
    left: -5px;
  }
  .deposition-limit-max .btn-carousel:last-child {
    right: -5px;
  }
  .deposition {
    width: auto;
  }
}
