/*
  Autor: Wellington Junior
  GitHub: welitto.jr
  Descrição: Sistema de grid e flexbox
*/


/* Flex Container */
.flex {
  display: flex;
}

/* Flex Direction */
.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

/* Flex Wrap */
.flex-wrap {
  flex-wrap: wrap;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

/* Align Items */
.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

/* Align Content */
.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

/* Item Alignment */
.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

/* Grid System */

.container {
  margin: 0 auto;
  padding: 0 5em;
}

.direction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.w-1 {
  width: 8.33333%;
  max-width: 8.33333%;
}
.w-2 {
  width: 16.66667%;
  max-width: 16.66667%;
}
.w-3 {
  width: 25%;
  max-width: 25%;
}
.w-4 {
  width: 33.33333%;
  max-width: 33.33333%;
}
.w-5 {
  width: 41.66667%;
  max-width: 41.66667%;
}
.w-6 {
  width: 50%;
  max-width: 50%;
}
.w-7 {
  width: 58.33333%;
  max-width: 58.33333%;
}
.w-8 {
  width: 66.66667%;
  max-width: 66.66667%;
}
.w-9 {
  width: 75%;
  max-width: 75%;
}
.w-10 {
  width: 83.33333%;
  max-width: 83.33333%;
}
.w-11 {
  width: 91.66667%;
  max-width: 91.66667%;
}
.w-12 {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
    max-width: 1320px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .w-2,
  .w-3,
  .w-4,
  .w-5,
  .w-6,
  .w-7,
  .w-8,
  .w-9,
  .w-10,
  .w-11,
  .w-12 {
    width: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .w-1,
  .w-2,
  .w-3,
  .w-4,
  .w-5,
  .w-6,
  .w-7,
  .w-8,
  .w-9,
  .w-10,
  .w-11,
  .w-12 {
    width: 100%;
    max-width: 100%;
  }
  
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 1em;
  }
}