footer {
  height: 50vh;
  width: 100%;

  background-image: url("../image/office.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer-wrapper {
  width: 100%;
  height: auto;
}

.footer-content {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.footer-content img,
.footer-content span {
  margin-top: 0;
  margin-bottom: 1.2em;
}

.footer-content img {
  z-index: 1;
}

.footer-content span {
  color: var(--white);
  font-size: 20px;
  z-index: 1;
  text-align: center;
  margin-bottom: 1rem;
}

footer .social-icons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 1em;
  z-index: 1;
}

footer .social-icons svg {
  margin: 0 5px;
  background-color: var(--white);
  color: #333; /* Altere a cor conforme necessário */
  width: 30px;
  height: 30px;
  padding: 10px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  
  .form-content {
    height: auto;
  }

  .form-contact {
    height: 40vh;
  }

  .footer-content img {
    z-index: 3;
  }
}