footer {
  height: 80vh;
  width: 100%;
  margin-top: 40em;

  background-image: url("../image/office.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.footer-wrapper {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-content {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.footer-content > div, picture > img {
  z-index: 2;
}

.footer-content > div > div > span {
  color: var(--white);
  font-size: 20px;
}



@media only screen and (max-width: 720px) {
  .contact-floating {
    height: auto;
  }

  .form-content {
    height: auto !important;
  }

  .form-backgroud,
  .form-contact {
    height: 80vh;
  }

  .footer-content > div, picture > img {
    z-index: 3;
  }
}