footer {
  height: 80vh;
  width: 100%;
  margin-top: 40em;

  background-image: url("../image/office.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer-wrapper {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-content {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.footer-content img,
.footer-content span {
  margin-top: 0;
  margin-bottom: 1.2em;
}

.footer-content img {
  z-index: 1;
}

.footer-content span {
  color: var(--white);
  font-size: 20px;
  z-index: 1;
  text-align: center;
}



@media only screen and (max-width: 720px) {
  .contact-floating {
    height: auto;
  }

  .form-content {
    height: auto;
  }

  .form-backgroud,
  .form-contact {
    height: 80vh;
  }

  .footer-content img {
    z-index: 3;
  }
}