.service {
  height: 500px;
  position: relative;
  z-index: 1;
  padding: 10px;
}

.service img {
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-content {
  position: absolute;
  top: 90%;
  left: 50%;
  z-index: 2;

  transform: translate(-50%, -90%);

  background-color: var(--brown);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  height: 50%;
  width: 85%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  padding: 20px;
  border-radius: 10px;

  transition: height 0.9s ease;
}

.service-content:hover {
  top: 50%;
  left: 50%;
  justify-content: flex-end;
  transform: translate(-50%, -50%);
  transition: none 0.8s ease;
  height: 90%;
}

.service-content > svg,
.service-content > h2,
.service-content > p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.service-content > svg {
  font-size: 3.4em;
  color: var(--white);
}

.service-content > h2 {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
}

.service-content > p {
  font-size: 1rem;
  color: var(--white);
  text-align: start;
  display: none;
}

.service-content:hover > p {
  display: block;
}

.service-btn-size {
  width: 100%;
  min-height: 50px;
  height: 50px;
}

@media screen and (max-width: 1200px) {
  .service {
    height: 550px;
  }
}

@media screen and (max-width: 992px), (max-width: 768px) {
  .service {
    height: 700px;
  }
  .service-content {
    align-items: center;
    justify-content: center;
  }

  .service-content > svg,
  .service-content > h2,
  .service-content > p {
    margin-top: 0;
    margin-bottom: 3rem;
  }
  .service-content > svg {
    font-size: 5em;
  }
  .service-content > h2 {
    font-size: 1.5em;
    text-align: center;
  }
  .service-content > p {
    font-size: 1.2em;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .service-content > svg {
    font-size: 3em;
  }
}

@media screen and (max-width: 576px) {
  .service {
    height: 500px;
  }
  .service-content > svg,
  .service-content > h2,
  .service-content > p {
    margin-bottom: 1rem;
  }
  .service-content > h2 {
    font-size: 20px;
    text-align: center;
  }
  .service-content > p {
    font-size: 15px;
  }
}
