
.project-list {
  margin-top: 100px;
}

.project-direction {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
}

.project-image {
  padding: 20px;
  height: 600px;
  width: auto;
  position: relative;
  cursor: pointer;
}

.project-image img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-image:hover::before {
  content: "";
  position: absolute;
  inset: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 576px) {
  .project-list {
    margin-top: 0px;
  }
}