.banner__video {
    width: 100%;
    height: 95vh;
    position: relative;
}

.banner__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__video::after {
    content: '';

    width: inherit;
    height: inherit;
    position: absolute;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.60) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.60) 85%);
}


@media only screen and (max-width: 1200px){
    .banner__video {
        height: 70vh;
        width: 100%;
    }
}

@media only screen and (max-width: 720px) {
    .banner__video {
        height: 65vh;
    }
}